/* .blog-card-header {
    width: 100%;
    height: 6rem;
    overflow: hidden;
}

.blog-card-header img {
    width: 100%;
}

.blog-card-content {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.blog-card-content > div {
    flex: 100%;
}
.blog-card-date {
    text-align: right;
    padding-right: .5rem;
}
.blog-card-title {
    font-weight: bold;
} */